.profile-pic {
    border-radius: 50%;
}

.theme-color-green {
    color: #17e7a4;
}

.personal-says {
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
}
.project-item{
    font-size: 18px;
}
.project-technologies {
    font-size: 15px;
    font-style: italic;
}
.experience-wrapper .each-project{
    margin-bottom: 30px;
    line-height: 30px;
}